<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ShindigWeb</display-name>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jspx</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/customComponents.taglib.xml</param-value>
	</context-param>

	<context-param>
		<description>
			State saving method: "client" or "server" (= default) See
			JSF Specification 2.5.3
		</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<description>
			Only applicable if state saving method is "server" (=
			default). Defines the amount (default = 20) of the latest
			views are stored in session.
		</description>
		<param-name>
			org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION
		</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<description>
			Only applicable if state saving method is "server" (=
			default). If true (default) the state will be serialized to
			a byte stream before it is written to the session. If false
			the state will not be serialized to a byte stream.
		</description>
		<param-name>
			org.apache.myfaces.SERIALIZE_STATE_IN_SESSION
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			Only applicable if state saving method is "server" (=
			default) and if
			org.apache.myfaces.SERIALIZE_STATE_IN_SESSION is true (=
			default) If true (default) the serialized state will be
			compressed before it is written to the session. If false the
			state will not be compressed.
		</description>
		<param-name>
			org.apache.myfaces.COMPRESS_STATE_IN_SESSION
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			This parameter tells MyFaces if javascript code should be
			allowed in the rendered HTML output. If javascript is
			allowed, command_link anchors will have javascript code that
			submits the corresponding form. If javascript is not
			allowed, the state saving info and nested parameters will be
			added as url parameters. Default: "true"
		</description>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>
			If true, rendered HTML code will be formatted, so that it is
			"human readable". i.e. additional line separators and
			whitespace will be written, that do not influence the HTML
			code. Default: "true"
		</description>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
			If true, a javascript function will be rendered that is able
			to restore the former vertical scroll on every request.
			Convenient feature if you have pages with long lists and you
			do not want the browser page to always jump to the top if
			you trigger a link or button action that stays on the same
			page. Default: "false"
		</description>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<description>
			Used for encrypting view state. Only relevant for client
			side state saving. See MyFaces wiki/web site documentation
			for instructions on how to configure an application for
			diffenent encryption strengths.
		</description>
		<param-name>org.apache.myfaces.SECRET</param-name>
		<param-value>NzY1NDMyMTA=</param-value>
	</context-param>

	<context-param>
		<description>
			Validate managed beans, navigation rules and ensure that
			forms are not nested.
		</description>
		<param-name>org.apache.myfaces.VALIDATE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Parameter to set the maximum number of client view state tokens.
		Uncomment this to test low-token-count scenarios.
		<context-param>
		<param-name>org.apache.myfaces.trinidad.CLIENT_STATE_MAX_TOKENS</param-name>
		<param-value>3</param-value>
		</context-param>
	-->

	<!-- Trinidad by default uses an optimized client-side state saving
		mechanism. To disable that, uncomment the following -->
	<!--context-param>
		<param-name>org.apache.myfaces.trinidad.CLIENT_STATE_METHOD</param-name>
		<param-value>all</param-value>
		</context-param-->

	<!-- Trinidad also supports an optimized strategy for caching some
		view state at an application level, which significantly improves
		scalability.  However, it makes it harder to develop (updates to
		pages will not be noticed until the server is restarted), and in
		some rare cases cannot be used for some pages (see Trinidad
		documentation for more information) -->
	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.USE_APPLICATION_VIEW_CACHE
		</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- Uncomment this if you are debugging skinning and want the styleclasses to not be compressed  
		<context-param>
		<param-name>org.apache.myfaces.trinidad.DISABLE_CONTENT_COMPRESSION</param-name>
		<param-value>true</param-value>
		</context-param>
	-->

	<!-- If this parameter is enabled, Trinidad will automatically
		check the modification date of your JSPs, and discard saved
		state when they change. Trinidad will also automatically check
		if your skinning css files have changed without having to restart
		the server; this makes development easier,
		but adds overhead that should be avoided when your application
		is deployed. -->
	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Enables Change Persistence at a session scope.  By default,
		Change Persistence is entirely disabled. The ChangeManager is
		an API, which can persist component modifications (like,
		is a showDetail or tree expanded or collapsed). For providing
		a custom Change Persistence implementation inherit from the 
		Trinidad API's ChangeManager class. As the value you have 
		to use the fullqualified class name. -->
	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.CHANGE_PERSISTENCE
		</param-name>
		<param-value>session</param-value>
	</context-param>

	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.resource.DEBUG
		</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.DEBUG_JAVASCRIPT
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Configurations For Trinidad -->
	<context-param>
		<!-- Maximum memory per request (in bytes) -->
		<param-name>
			org.apache.myfaces.trinidad.UPLOAD_MAX_MEMORY
		</param-name>
		<!-- Use 500K -->
		<param-value>2048000</param-value>
	</context-param>
	<context-param>
		<!-- Maximum disk space per request (in bytes) -->
		<param-name>
			org.apache.myfaces.trinidad.UPLOAD_MAX_DISK_SPACE
		</param-name>
		<!-- Use 5,000K -->
		<param-value>5120000</param-value>
	</context-param>
	<context-param>
		<!-- directory to store temporary files -->
		<param-name>
			org.apache.myfaces.trinidad.UPLOAD_TEMP_DIR
		</param-name>
		<!-- Use a TrinidadUploads subdirectory of /tmp -->
		<param-value>/tmp/TrinidadUploads/</param-value>
	</context-param>

	<!-- With setting this parameter you are able to specify the logical
		outcome prefix to launch the dialog framework. If not set, the
		default value (dialog:) is used. -->
	<!--context-param>
		<param-name>org.apache.myfaces.trinidad.DIALOG_NAVIGATION_PREFIX</param-name>
		<param-value>userInputHere:</param-value>
		</context-param-->

	<!-- Uncomment the below for use with Facelets-->
	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.ALTERNATE_VIEW_HANDLER
		</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.VIEW_MAPPINGS</param-name>
		<param-value>*.jspx</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>


	<!-- Extensions Filter-->
	<!-- <filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
		<init-param>
		<description>Set the size limit for uploaded files.
		Format: 10 - 10 bytes
		10k - 10 KB
		10m - 10 MB
		1g - 1 GB</description>
		<param-name>uploadMaxFileSize</param-name>
		<param-value>100m</param-value>
		</init-param>
		<init-param>
		<description>Set the threshold size - files
		below this limit are stored in memory, files above
		this limit are stored on disk.
		
		Format: 10 - 10 bytes
		10k - 10 KB
		10m - 10 MB
		1g - 1 GB</description>
		<param-name>uploadThresholdSize</param-name>
		<param-value>100k</param-value>
		</init-param>
		</filter>
		<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
		</filter-mapping>
	-->
	<filter>
		<filter-name>trinidad</filter-name>
		<filter-class>
			org.apache.myfaces.trinidad.webapp.TrinidadFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>cacheFilter</filter-name>
		<filter-class>com.iLabs.spice.filters.CacheFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>private</param-value>
		</init-param>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>-1</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>configurationFilter</filter-name>
		<filter-class>com.iLabs.spice.filters.ConfigurationFilter</filter-class>
		<init-param>
			<param-name>GadgetServerURL</param-name>
			<param-value>http://192.168.145.103:8080</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>cacheFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>configurationFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>trinidad</filter-name>
		<servlet-name>faces</servlet-name>
	</filter-mapping>



	<!-- Listener, to allow Jetty serving MyFaces apps -->
	<!--<listener>-->
	<!--<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>-->
	<!--</listener>      -->

	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- resource loader servlet -->
	<servlet>
		<servlet-name>resources</servlet-name>
		<servlet-class>
			org.apache.myfaces.trinidad.webapp.ResourceServlet
		</servlet-class>
	</servlet>

	<!-- Faces Servlet Mapping -->
	<!--  <servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
		</servlet-mapping>-->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resources</servlet-name>
		<url-pattern>/adf/*</url-pattern>
	</servlet-mapping>

	<!-- Welcome files -->
	<welcome-file-list>
			<welcome-file>faces/pages/login.jspx</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>
				http://www.iLabs.faces.com/components
			</taglib-uri>
			<taglib-location>
				/WEB-INF/custom_components.tld
			</taglib-location>
		</taglib>
	</jsp-config>

	<session-config>
	    <session-timeout>5</session-timeout>
	</session-config>
   </web-app>