@charset "utf-8";
/* CSS Document */

.article {
	font-size: larger;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC3300;
}

.article_text {
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
	color: #FFCC33;
}






