<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome To Spice</title>
<link href="CSS/style.css" rel="stylesheet" type="text/css" />

<link href="CSS/table.css" rel="stylesheet" type="text/css" />
</head>
<body onload="auto()">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>

		<td height="40" align="center" valign="middle"
			background="images/table/table_top_bg.jpg">

		<table width="980" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr align="center">
				<td width="17%"><img src="images/spicetitle.jpg" width="172"
					height="40" /></td>
				<td width="12%"><span class="welcome"> Welcome <br>
				Impetus test </span></td>
				<td width="35%"><a href="home.php" class="toplink">Home</a> | <a
					href="http://220.225.96.25/ilos/profile.php?myprofile=true&userID=62"
					class="toplink">My Profile </a>| <a href="friends.php"
					class="toplink">Friends </a>| <a href="addApp.php" class="toplink">Application
				Gallery </a></td>

				<td>&nbsp;</td>
				<td><a href="/ilos/home.php?doLogout=true"><b>Logout</b></a></td>
				<td>&nbsp;&nbsp;&nbsp;</td>
				<td>
				<form id="form1" name="form1" method="get" action="search.php"
					onSubmit="return checkBlankSearch();">Search Friends <input
					class="searchbox" type="text" name="search_query" id="textfield"
					size="15" /> <input type="submit" name="search" id="search"
					value="Go" /></form>
				</td>

			</tr>
		</table>
		</td>
	</tr>
</table>
</html>