body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url();
	background-repeat: no-repeat;
	background-color: #C4A2A2;
}

.welcome {
	font-size: 12px;
	color: #CC6633;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.searchbox {
background:#CCCC99;
font:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
font-weight:bold;
}

.regbox {
background:#999966;
border:thin;
border-color:#99CCFF;
font:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#0099FF;
font-weight:bold;
}

.loginbox {
background:#FFFFCC;
border:double;
border-color:#660066;
font:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#99CCCC;
font-weight:bold;
}

.logintext {
	font-size:14px;
	color:#99CC00;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.toplink {
	font-size: 12px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bolder;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size:12px;
	text-decoration: none;
	color:#3366CC;
}
img {
cursor:pointer;
}
h2 {
color:#FFCC66;
}

h3 {
color:#FFCC66;
}

a:hover {
/*	font-size:14px;*/
	text-decoration: underline;
	/*color:#FF0066;*/
	font-style: normal;

}
marquee {
	font-family: Courier New (monospace);
	color: #FFFFFF;
	border: 2px dotted #FFFFFF;
	background-color:#BF6D6F;
}
.marqlink{
color:#FFCC00;
}

.SIGNIN {
	color:#660033;
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
}

input.customButton {
   font-size:12px;
   font-family:Arial,sans-serif;
   font-weight:bold;
   color:#FFFFFF;
   background-color:#4A045A;
   border-top-style:double;
   border-top-color:#4A045A;
   border-top-width:4px;
   border-bottom-style:double;
   border-bottom-color:#4A045A;
   border-bottom-width:4px;
   border-left-style:solid;
   border-left-color:#4A045A;
   border-left-width:4px;
   border-right-style:solid;
   border-right-color:#4A045A;
   border-right-width:4px;
}


input.logoutButton
{
   text-decoration:underline;
   background-color:#C4A2A2;
   border-top-style:none;
   border-bottom-style:none;
   border-left-style:none;
   border-right-style:none;
   font-size:14px;
   color:#4A045A;
   font-weight:bold;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}


